# Ignore binary file
server
*.exe
*.exe~

# Ignore vendor folder
/vendor/

# Ignore config files
config.yaml

# Various
.DS_Store
.vscode/
assets/

# Coverage files
coverage.out
coverage.html

.gdb_history
prod.sh